body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  background-color: #f0f1f7;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
